* {
	padding: 0%;
	margin: 0%;
}
html {
	scroll-behavior: smooth;
}
.gotopbtn {
	position: fixed;
	width: 50px;
	height: 50px;
	background: #27ae60;
	bottom: 40px;
	right: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: gold;
	font-size: 22px;
}
.navbar {
	height: 15%;
	width: 100%;
	background-color: black;
	left: 20%;
}
ul {
	padding-left: 5%;
	list-style-type: none;
	display: flex;
	/* justify-content: center; */
}
li {
	padding: 2rem !important;
}
a {
	font-size: 2rem;
	text-decoration: none;
	color: gold;
}
.saurabh-img {
	display: flex;
	position: absolute;
	top: 10%;
	right: 10%;
	border-radius: 6%;
	z-index: 1;
	border: 4px solid gold;
}
.Abouts {
	background: url("./Images/keyboard.jpg") !important;
}
.AboutCls {
	display: flex;
}
.Abouts,
.Skills,
.Educations,
.Contacts {
	position: relative;
	height: 100vh !important;
	width: 100%;
	opacity: 0.7;
}
.Skills,
.Educations {
	opacity: 0.3 !important;
}
.Contacts {
	opacity: 0.5 !important;
}
.aboutData {
	position: absolute;
	font-size: 2rem;
	padding-top: 5%;
	padding-left: 5%;
}
.Heading {
	padding-left: 25%;
	color: gold;
}
.AboutTbl tr > th,
td {
	color: aliceblue;
}
.AboutTbl > thead > tr > td,
.skillsTbl > thead > tr > td {
	padding: 10px;
	text-align: left;
}
.AboutTbl > thead > tr > th,
.skillsTbl > thead > tr > th {
	text-align: left;
}
.SkillsCls {
	display: flex;
}
.skillsData {
	position: absolute;
	font-size: 2rem;
	padding-top: 5%;
	padding-left: 5%;
}
.EducationCls {
	display: flex;
}
.EduactionData {
	position: absolute;
	font-size: 2rem;
	padding-top: 5%;
	padding-left: 5%;
}
.ContactCls {
	display: flex;
}
.ContactData {
	position: absolute;
	font-size: 2rem;
	padding-top: 5%;
	padding-left: 5%;
}
.java-image {
	height: 70px;
	width: 70px;
	border-radius: 60px;
	border: 6px solid black;
}
.contacts-image {
	border: 6px solid crimson;
	border-radius: 50px;
	height: 70px;
	width: 70px;
}
.contactsTbl th {
	padding-right: 80px;
	text-align: left;
}
.educationTbl tr > th {
	color: blueviolet;
}
.educationTbl tr > td {
	color: #27ae60;
}
.educationTbl {
	text-align: left;
}
.educationTbl td,
th {
	padding-right: 30px;
}
a:hover {
	color: Red;
}
.AboutCls,
.SkillsCls,
.EducationCls,
.ContactCls {
	width: 100%;
}
